.background {
  viewport-fill: red;
}

.frame {
  viewport-fill: red;
}

#myLabel {
  fill: white;
  letter-spacing: 5;
  font-size: 80;
  font-family: System-Regular;
  text-length: 32;
  text-anchor: middle;
  opacity: 0.0; 
  x: 50%;
  y: 90%;
  
}

.mydarkLabel {
  fill: darkturquoise;
  letter-spacing: 5;
  font-size: 55;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: middle;
  opacity: 0.5; 
  x: 50%;
  y: 14%;
  
}

.label {
  fill: azure;
  font-size: 11;
  font-family: System-Bold;
  text-length: 32;
  opacity: 1.0; 
}

.labelgreen {
  fill: lime;
  font-size: 11;
  font-family: System-Bold;
  text-length: 32;
  opacity: 1.0; 
}

.labelred {
  fill: red;
  font-size: 11;
  font-family: System-Bold;
  text-length: 32;
  opacity: 1.0; 
}

.labellightblue {
  fill: aqua;
  letter-spacing: 1;
  font-size: 11;
  font-family: System-Bold;
  text-length: 32;
  opacity: 0.7;
}

.labelpurple {
  fill: deeppink;
  letter-spacing: 2;
  font-size: 20;
  font-family: System-Bold;
  text-length: 32;
  opacity: 0.7;
}

.labelyellow {
  fill: yellow;
  font-size: 17;
  font-family: System-Bold;
  text-length: 32;
  opacity: 0.7;


}

.foreground-fill{ 
  fill:fb-white;
  opacity: 0.3;
}

#clockHoursLabel {
 width: 100%;
 height: 100%;
 
  
}

#clockMinutesLabel {
 width: 100%;
 height: 100%;
  
}

.staranimate {
  width: 100%;
  height: 100%;
  x: -3%
   
}

.ampm {
  width: 100%;
  height: 100%;
}

.hour {
  width: 100%;
  height: 100%;
  x: -65%;
   
}

.hour12 {
  width: 100%;
  height: 100%;
  x: -65%;
  y: -2%; 
}

.hour1 {
  width: 100%;
  height: 100%;
  x: -69%;
  y: -4%;
   
}

.hour11 {
  width: 100%;
  height: 100%;
  x: -62%;
  y: -4%;
   
}


.minute {
  width: 100%;
  height: 100%;
  x: 45%;
}

.minute2 {
  width: 100%;
  height: 100%;
  x: 63%;
}

.minute1 {
  width: 100%;
  height: 100%;
  x: 50%;
}

.minute3 {
  width: 100%;
  height: 100%;
  x: 68%;
}

.colon {
  width: 100%;
  height: 100%;
  x: 37%;
  y:1%;
}
